OPENSIM_SERVICE_MODE=standalone
OPENSIM_INSTANCE_ID=my-instance
OPENSIM_INSTANCE_DIR=./Instances/my-instance
OPENSIM_REGIONS_DIR=./Instances/my-instance/Regions
OPENSIM_BIN_DIR=./Instances/my-instance/bin
DATABASE_URL=postgresql://opensim@localhost/my_instance_db
OPENSIM_API_KEY=change-me
OPENSIM_LOGIN_PORT=9000
OPENSIM_ROBUST_PORT=8003
OPENSIM_ADMIN_PORT=9200
OPENSIM_METRICS_PORT=9100
OPENSIM_WEB_CLIENT_PORT=8080
OPENSIM_HYPERGRID_ENABLED=false
RUST_LOG=info
